<template>
  <v-row class="fill-height">
    <v-col cols="12">
      <v-sheet height="64" width="100%">
        <v-toolbar flat>
          <v-btn outlined class="mr-4" color="grey darken-2" @click="setToday">
            Today
          </v-btn>
          <v-btn fab text small color="grey darken-2" @click="prev">
            <v-icon small> mdi-chevron-left </v-icon>
          </v-btn>
          <v-btn fab text small color="grey darken-2" @click="next">
            <v-icon small> mdi-chevron-right </v-icon>
          </v-btn>
          <v-toolbar-title v-if="$refs.calendar">
            {{ $refs.calendar.title }}
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-menu bottom right>
            <template v-slot:activator="{ on, attrs }">
              <v-btn outlined color="grey darken-2" v-bind="attrs" v-on="on">
                <span>{{ typeToLabel[type] }}</span>
                <v-icon right> mdi-menu-down </v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-item @click="type = 'day'">
                <v-list-item-title>Day</v-list-item-title>
              </v-list-item>
              <v-list-item @click="type = 'week'">
                <v-list-item-title>Week</v-list-item-title>
              </v-list-item>
              <v-list-item @click="type = 'month'">
                <v-list-item-title>Month</v-list-item-title>
              </v-list-item>
              <v-list-item @click="type = '4day'">
                <v-list-item-title>4 days</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </v-toolbar>
      </v-sheet>
      <v-sheet height="75vh" width="100%">
        <v-calendar
          ref="calendar"
          v-model="focus"
          color="primary"
          :events="events"
          :event-color="getEventColor"
          :type="type"
          @click:event="showEvent"
          @click:more="viewDay"
          @click:date="viewDay"
          @change="updateRange"
        ></v-calendar>
        <v-menu
          v-if="selectedEvent.data"
          v-model="selectedOpen"
          :close-on-content-click="false"
          :activator="selectedElement"
          offset-x
        >
          <v-card color="grey lighten-4" min-width="350px" flat>
            <v-toolbar :color="selectedEvent.color" dark>
              <v-menu
                bottom
                left
                offset-y
                v-if="selectedEvent.data.finished == 0"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-btn dark icon v-bind="attrs" v-on="on">
                    <v-icon>mdi-dots-vertical</v-icon>
                  </v-btn>
                </template>
                <v-list>
                  <div v-for="(item, i) in items" :key="i">
                    <v-list-item
                      v-if="i >= 1 || validate(selectedEvent.start)"
                      @click="
                        () => {
                          if (item.action == 'delete') {
                            finish(selectedEvent.data.id, 'delete');
                          } else {
                            finish(selectedEvent.data.id, 'finish');
                          }
                        }
                      "
                    >
                      <v-list-item-content>
                        <v-list-item-title
                          v-text="item.title"
                        ></v-list-item-title>
                      </v-list-item-content>
                      <v-list-item-icon>
                        <v-icon :color="item.color" v-text="item.icon"></v-icon>
                      </v-list-item-icon>
                    </v-list-item>
                  </div>
                </v-list>
              </v-menu>
              <v-toolbar-title v-html="selectedEvent.name"></v-toolbar-title>
            </v-toolbar>
            <v-card-text>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-subtitle
                    ><v-icon x-small> mdi-calendar-import </v-icon>
                    {{ selectedEvent.start }}</v-list-item-subtitle
                  >
                  <v-list-item-subtitle>
                    <v-icon x-small> mdi-calendar-export </v-icon>
                    {{ selectedEvent.end }}</v-list-item-subtitle
                  >
                </v-list-item-content>
              </v-list-item>

              <p>User:</p>
              <v-list-item two-line>
                <v-list-item-avatar>
                  <img :src="selectedEvent.data.user.photo" />
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>{{
                    selectedEvent.data.user.name
                  }}</v-list-item-title>
                  <v-list-item-subtitle
                    ><v-icon x-small> mdi-email </v-icon>
                    {{ selectedEvent.data.user.email }}</v-list-item-subtitle
                  >
                  <v-list-item-subtitle>
                    <v-icon x-small> mdi-phone </v-icon>
                    {{ selectedEvent.data.user.phone }}</v-list-item-subtitle
                  >
                  <v-list-item-subtitle>
                    <v-icon x-small> mdi-home </v-icon>
                    {{ selectedEvent.data.user.address }}</v-list-item-subtitle
                  >
                </v-list-item-content>
              </v-list-item>
              <p>Room:</p>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>{{
                    selectedEvent.data.room.name
                  }}</v-list-item-title>
                  <v-list-item-subtitle>
                    Address:
                    <strong>{{ selectedEvent.data.room.address }}</strong>
                  </v-list-item-subtitle>
                  <v-list-item-subtitle>
                    Building/Floor:
                    <strong>{{ selectedEvent.data.room.floor }}</strong>
                  </v-list-item-subtitle>
                  <v-list-item-subtitle>
                    Size:
                    <strong>{{
                      selectedEvent.data.room.size
                    }}</strong></v-list-item-subtitle
                  >
                  <v-list-item-subtitle>
                    Seats:
                    <strong>{{
                      selectedEvent.data.room.seats
                    }}</strong></v-list-item-subtitle
                  >
                  <v-list-item-subtitle>
                    Facilities:
                    <strong
                      v-for="(fac, i) in selectedEvent.data.room.facilities"
                      :key="i"
                      >{{ fac.name }},
                    </strong></v-list-item-subtitle
                  >
                </v-list-item-content>
              </v-list-item>
            </v-card-text>
            <v-card-actions>
              <v-btn text color="secondary" @click="selectedOpen = false">
                Ok
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-menu>
      </v-sheet>
    </v-col>
  </v-row>
</template>
<script>
import { mapState } from "vuex";
import { mapMutations } from "vuex";
import moment from "moment";
import axios from "axios";
export default {
  computed: {
    ...mapState(["reservations", "token"]),
  },
  data: () => ({
    focus: "",
    type: "day",
    typeToLabel: {
      month: "Month",
      week: "Week",
      day: "Day",
      "4day": "4 Days",
    },
    selectedEvent: {},
    selectedElement: null,
    selectedOpen: false,
    events: [],
    colors: [
      "blue",
      "indigo",
      "deep-purple",
      "cyan",
      "green",
      "orange",
      "grey darken-1",
    ],
    items: [
      {
        icon: "mdi-check",
        title: "Finish",
        color: "success",
        action: "edit",
      },
      {
        icon: "mdi-close",
        title: "Cancel",
        color: "red",
        action: "delete",
      },
    ],
    names: [
      "Meeting",
      "Holiday",
      "PTO",
      "Travel",
      "Event",
      "Birthday",
      "Conference",
      "Party",
    ],
  }),
  mounted() {
    this.$refs.calendar.checkChange();
  },
  watch: {
    reservations() {
      this.updateRange();
    },
  },
  methods: {
    ...mapMutations(["finishReservation"]),
    viewDay({ date }) {
      this.focus = date;
      this.type = "day";
    },
    finish(id, type) {
      this.$swal
        .fire({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: `Yes, ${type} it!`,
        })
        .then((result) => {
          if (result.isConfirmed) {
            var post = {
              id: id,
              type: type,
            };
            axios
              .post(
                `${process.env.VUE_APP_BASE_URL_API}/api/auth/reservations`,
                post,
                {
                  headers: {
                    Authorization: `Bearer ${this.token}`,
                    Accept: "application/json",
                  },
                }
              )
              .then((data) => {
                this.finishReservation({
                  data: data,
                  type: type,
                });
                this.$swal.fire(`Reservation ${type}!`, "", "success");
              })
              .catch((error) => {
                // handle error
                console.error(error);
              });
          }
        });
    },
    validate(start) {
      return moment(moment()).isSameOrAfter(start);
    },
    getEventColor(event) {
      return event.color;
    },
    setToday() {
      this.focus = "";
    },
    prev() {
      this.$refs.calendar.prev();
    },
    next() {
      this.$refs.calendar.next();
    },
    showEvent({ nativeEvent, event }) {
      const open = () => {
        this.selectedEvent = event;
        this.selectedElement = nativeEvent.target;
        requestAnimationFrame(() =>
          requestAnimationFrame(() => (this.selectedOpen = true))
        );
      };

      if (this.selectedOpen) {
        this.selectedOpen = false;
        requestAnimationFrame(() => requestAnimationFrame(() => open()));
      } else {
        open();
      }

      nativeEvent.stopPropagation();
    },
    updateRange() {
      const events = [];
      this.reservations.map((res) => {
        events.push({
          name: res.room.name + " - " + res.user.name,
          start: res.start,
          end: res.end,
          color: this.colors[this.rnd(0, this.colors.length - 1)],
          timed: 0,
          data: res,
        });
      });

      this.events = events;
    },
    rnd(a, b) {
      return Math.floor((b - a + 1) * Math.random()) + a;
    },
  },
};
</script>
