<template justify="center">
  <div class="cart-div">
    <v-col v-for="(item, i) in items" :key="i" class="body-card">
      <v-hover v-slot:default="{ hover }" open-delay="200">
        <v-card
          :to="item.href"
          class="mb-3 cart"
          width="270"
          height="100"
          color="grey lighten-3"
          :elevation="hover ? 16 : 2"
        >
          <v-list-item>
            <v-list-item-avatar size="50" :color="item.color">
              <v-icon size="30" color="white">{{ item.icon }}</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title class="mb-3 tittle"
                >{{ item.msj }} {{ item.text }}</v-list-item-title
              >
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-hover>
    </v-col>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  computed: {
    ...mapState(["rooms", "clients","reservations"]),
  },
  watch: {
    clients() {
      this.items[3].msj = this.clients.length;
    },
    rooms(){
      this.items[0].msj = this.rooms.length;
    },
    reservations(){
      this.items[1].msj = this.reservations.length;
      var ongoing = 0;
      this.reservations.map((res)=> {
        if (!res.finished) {
          ongoing = ongoing + 1;
        }
      });
      this.items[2].msj = ongoing
    }

  },
  data: () => ({
    elevation: 4,
    color: "black",
    tile: true,
    items: [
      {
        icon: "mdi-check-outline",
        text: "Rooms",
        href: "/rooms",
        msj: "..",
        color: "#35495e",
      },
      {
        icon: "mdi-timer-outline ",
        text: "Bookings",
        href: "/",
        msj: "..",
        color: "#35495e",
      },
      {
        icon: "mdi-account-multiple",
        text: "Ongoing Bookings",
        href: "/",
        msj: "..",
        color: "#41b883",
      },
      {
        icon: "mdi-account-multiple",
        text: "Users",
        href: "/users",
        msj: "..",
        color: "#35495e",
      },
    ],
  }),
};
</script>
<style>
@media only screen and (max-width: 768px) and (min-width: 425px) {
  .cart-div {
    width: 40%;
  }
}

@media only screen and (max-width: 425px) {
  .cart-div {
    width: 100%;
  }
}
.cart {
  display: flex !important;
}
.body-card {
  justify-content: space-around;
  display: flex;
}

.tittle {
  text-align: start !important;
  padding-top: 10px;
  font-weight: 500 !important;
  font-size: 0.8em !important;
}
.tittle p {
  padding: 10px;
  text-align: center !important;
  font-weight: 500 !important;
}
.footer-card {
  height: 30px !important;
  text-align: center;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
</style>
