<template>
  <v-row justify="center">
    <v-tooltip left>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          @click="setDialogR()"
          color="#35495e"
          v-bind="attrs"
          v-on="on"
          fab
          dark
          fixed
          bottom
          right
        >
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </template>
      <span>Add New Conference Room</span>
    </v-tooltip>
    <v-dialog
      v-model="dialogR"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      scrollable
    >
      <v-card tile>
        <v-toolbar flat dark color="#35495e">
          <v-btn icon dark @click="reset">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>New Conference Room</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn
              v-if="!roomSelected"
              dark
              text
              @click="validate()"
              :disabled="!valid"
              :loading="btnloader"
            >
              Save</v-btn
            >
            <v-btn
              v-else
              dark
              text
              @click="validate()"
              :disabled="!valid"
              :loading="btnloader"
            >
              Update
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-card-text class="card-text">
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-row>
              <v-col :cols="cols">
                <v-text-field
                  v-model="name"
                  :counter="10"
                  :rules="nameRules"
                  label="Room Name *"
                  required
                ></v-text-field>
                <v-text-field
                  v-model="floor"
                  :counter="10"
                  :rules="floorRules"
                  label="Building/Floor *"
                  required
                ></v-text-field>

                <VueGooglePlaces
                  :api-key="apikey"
                  @placechanged="onPlaceChanged"
                  types="address"
                  placeholder=""
                >
                  <v-text-field
                    label="Enter an an address, zipcode, or location *"
                    v-model="address"
                    :disabled="disabled"
                    :rules="addressRules"
                    hide-details="auto"
                    required
                  ></v-text-field>
                </VueGooglePlaces>
                <br />
                <h3>Facilities</h3>
                <v-divider></v-divider>
                <v-select
                  v-model="selectSizes"
                  :items="sizes"
                  :rules="[(v) => !!v || 'Size is required']"
                  label="Sizes *"
                ></v-select>

                <v-text-field
                  v-model="seats"
                  label="Number Of Seats"
                  required
                ></v-text-field>
                <v-select
                  v-model="select"
                  :items="facilities"
                  item-text="name"
                  :item-value="'id'"
                  multiple
                  chips
                  label="Additional Facilities"
                ></v-select>
              </v-col>
              <v-col :cols="cols">
                <v-img :src="imageUrl" />
                <v-file-input
                  v-model="image"
                  :rules="!roomSelected ? rulesImg : []"
                  accept="image/png, image/jpeg, image/bmp"
                  placeholder="Pick an avatar"
                  prepend-icon="mdi-camera"
                  label="Conf Room Photo."
                  @change="onFileChange"
                ></v-file-input>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import { mapState, mapMutations } from "vuex";
import axios from "axios";
export default {
  data() {
    return {
      apikey: `${process.env.VUE_APP_API_KEY_MAPS}`,
      address: null,
      seats: "",
      image: null,
      btnloader: false,
      imageUrl:
        "https://micasaenlomas.com/wp-content/themes/realestate-7/images/no-image.png",
      disabled: false,
      valid: true,
      name: "",
      floor: "",
      nameRules: [(v) => !!v || "Name is required"],
      floorRules: [(v) => !!v || "Building/Floor is required"],
      email: "",
      addressRules: [(v) => !!v || "Address is required"],
      select: [],
      selectSizes: null,
      sizes: ["Small", "Medium", "Large"],
      checkbox: false,
      rulesImg: [
        (v) => !!v || "Conf. Room Photo is required",
        (value) =>
          !value ||
          value.size < 8000000 ||
          "Avatar size should be less than 8 MB!",
      ],
      idR: false,
    };
  },
  watch: {
    roomSelected() {
      if (this.roomSelected) {
        this.imageUrl = this.roomSelected.photo;
        this.name = this.roomSelected.name;
        this.floor = this.roomSelected.floor;
        this.address = this.roomSelected.address;
        this.selectSizes = this.roomSelected.size;
        this.seats = this.roomSelected.seats;
        this.roomSelected.facilities.map((f) =>{
          this.select.push(f.id)
        });
      }
    },
  },
  methods: {
    ...mapMutations(["setDialogR", "addRoomS", "setRoom", "updateRoom"]),
    validate() {
      if (this.$refs.form.validate()) {
        this.addRoom();
      }
    },

    addRoom() {
      var url;
      let formData = new FormData();
      if (this.roomSelected) {
        formData.append("id", this.roomSelected.id);
        url = `${process.env.VUE_APP_BASE_URL_API}/api/auth/editRoom`;
      } else {
        url = `${process.env.VUE_APP_BASE_URL_API}/api/auth/addRoom`;
      }
      formData.append("file", this.image);
      this.btnloader = true;
      formData.append("name", this.name);
      formData.append("floor", this.floor);
      formData.append("address", this.address);
      formData.append("size", this.selectSizes);
      formData.append("seats", this.seats);
      formData.append("facilities", this.select);
      axios
        .post(url, formData, {
          headers: {
            Authorization: `Bearer ${this.token}`,
            "Content-Type": "multipart/form-data",
            "X-Requested-With": "XMLHttpRequest",
            Accept: "application/json",
          },
        })
        .then((data) => {
          this.btnloader = false;
          switch (data.status) {
            case 200:
              this.addRoomS(data.data);
              this.reset(),
                this.$swal.fire("Room Added Successfully", "", "success");
              break;
            case 202:
              this.$swal.fire(data.data.errorInfo[2], "", "error");
              break;
            case 201:
              this.reset(),
              this.updateRoom(data.data);
              this.$swal.fire("Room Updated Successfully", "", "success");
              break;
            default:
              break;
          }
        })
        .catch((error) => {
          this.btnloader = false;
          console.error(error);
        });
    },
    reset() {
      this.setDialogR();
      this.setRoom(null);
      this.imageUrl =
        "https://micasaenlomas.com/wp-content/themes/realestate-7/images/no-image.png";
      this.$refs.form.reset();
    },

    onPlaceChanged(value) {
      this.address = value.formatted_address;
    },
    createImage(file) {
      const reader = new FileReader();

      reader.onload = (e) => {
        this.imageUrl = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    onFileChange(file) {
      if (!file) {
        this.imageUrl =
          "https://micasaenlomas.com/wp-content/themes/realestate-7/images/no-image.png";
        return;
      }
      this.createImage(file);
    },
  },
  computed: {
    ...mapState(["dialogR", "facilities", "token", "roomSelected"]),
    cols() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return 12;
        case "sm":
          return 6;
        case "md":
          return 6;
        case "lg":
          return 6;
        case "xl":
          return 3;
        default:
          return 12;
      }
    },
  },
};
</script>
<style>
.card-text {
  height: 90vh;
  padding: 20px !important;
}
</style>
