<template>
  <v-row>
    <template>
      <v-row justify="center">
        <v-dialog v-model="dialog" persistent max-width="400px">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              v-if="$route.path == '/users'"
              class="add-proyect"
              color="white"
              dark
              absolute
              bottom
              right
              fab
              v-bind="attrs"
              v-on="on"
              @click="clear()"
              elevation="17"
            >
              <v-icon color="black">mdi-plus</v-icon>
            </v-btn>

            <v-btn v-else small fab v-bind="attrs" v-on="on" @click="clear()">
              <v-icon color="black">mdi-plus</v-icon>
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">User Profile</span>
              <v-btn
                icon
                color="#003790"
                @click="(dialog = false), clear()"
                class="user-btn-close"
              >
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" v-if="message" id="element">
                    <v-alert color="red" dense elevation="11" type="error">
                      <ul>
                        <li v-for="(error, i) in errors" :key="i">
                          {{ error }}
                        </li>
                      </ul>
                    </v-alert>
                  </v-col>
                  <v-col cols="12" sm="12" md="12">
                    <div class="input-group"></div>
                  </v-col>
                  <v-form
                    ref="form"
                    v-model="valid"
                    lazy-validation
                    style="width: 100%"
                  >
                    <v-col cols="12" sm="12" md="12">
                      <v-text-field
                        v-model="name"
                        :disabled="disabled"
                        label="Name"
                        :rules="[(v) => !!v || 'Name is required']"
                        required
                        hint="example of helper text only on focus"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <div class="div-email">
                        <v-text-field
                          label="Email*"
                          required
                          v-model="email"
                          :disabled="disabled"
                          :rules="[rules.required, rules.email]"
                        ></v-text-field>
                        <div style="margin: 5px">
                          <label>Admin</label>
                          <v-switch
                            v-model="admin"
                            value
                            class="switch-admin"
                            color="success"
                            input-value="item.status"
                          ></v-switch>
                        </div>
                      </div>
                      <v-text-field
                        v-show="admin"
                        id="password"
                        label="Password"
                        name="password"
                        :required="admin"
                        :disabled="disabled && !edit"
                        :rules="
                          admin && !edit
                            ? [(v) => !!v || 'Password is required']
                            : []
                        "
                        v-model="password"
                        :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                        :type="show1 ? 'text' : 'password'"
                        counter
                        @click:append="show1 = !show1"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="12">
                      <v-text-field
                        label="Phone"
                        type="number"
                        v-model="phone"
                        :disabled="disabled"
                        :rules="[(v) => !!v || 'phone is required']"
                        required
                        counter="10"
                        name="phone"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="12" md="12">
                      <VueGooglePlaces
                        :api-key="apikey"
                        @placechanged="onPlaceChanged"
                        :options="{ fields: ['geometry'] }"
                        types="address"
                      >
                        <v-text-field
                          label="Enter an an address, zipcode, or location"
                          v-model="address"
                          :disabled="disabled"
                          :rules="[(v) => !!v || 'Address is required']"
                          required
                          hide-details="auto"
                        ></v-text-field>
                      </VueGooglePlaces>
                    </v-col>
                    <v-col cols="12">
                      <v-img :src="imageUrl" />
                      <v-file-input
                        v-model="image"
                        :rules="rulesImg"
                        accept="image/png, image/jpeg, image/bmp"
                        placeholder="Pick an avatar"
                        prepend-icon="mdi-camera"
                        label="Photo"
                        @change="onFileChange"
                      ></v-file-input>
                    </v-col>
                  </v-form>
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <div v-if="edit">
                <v-btn
                  color="red"
                  text
                  @click="deleteUser()"
                  :loading="btnloader"
                >
                  Delete User
                </v-btn>
              </div>
              <div v-if="!edit">
                <v-btn
                  color="#081b38"
                  text
                  @click="validate()"
                  :loading="btnloader"
                >
                  Save
                </v-btn>
              </div>
              <div v-else>
                <v-btn
                  v-if="disabled"
                  color="#081b38"
                  text
                  @click="disabled = false"
                  :loading="btnloader"
                >
                  Edit
                </v-btn>
                <v-btn
                  v-else
                  color="#081b38"
                  text
                  @click="validate()"
                  :loading="btnloader"
                >
                  Update
                </v-btn>
              </div>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>
    </template>
  </v-row>
</template>
<script>
import { mapState } from "vuex";
import { mapMutations } from "vuex";
import axios from "axios";
export default {
  computed: {
    ...mapState(["token", "users", "user"]),
  },
  data: () => ({
    admin: false,
    apikey: `${process.env.VUE_APP_API_KEY_MAPS}`,
    dialog: false,
    show1: false,
    passRules: [
      (v) => !!v || "Enter password....",
      (v) => (v && v.length >= 6) || "Password must be more than 6 characters",
    ],
    idU: null,
    password: null,
    disabled: false,
    name: null,
    email: null,
    edit: false,
    phone: null,
    address: null,
    errors: null,
    valid: true,
    message: false,
    image: null,
    imageUrl:
      "https://micasaenlomas.com/wp-content/themes/realestate-7/images/no-image.png",
    btnloader: false,
    rules: {
      required: (value) => !!value || "Required.",
      counter: (value) => value.length <= 20 || "Max 20 characters",
      email: (value) => {
        const pattern =
          /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return pattern.test(value) || "Invalid e-mail.";
      },
    },

    rulesImg: [
      (value) =>
        !value ||
        value.size < 2000000 ||
        "Avatar size should be less than 2 MB!",
    ],
  }),
  methods: {
    ...mapMutations(["updateUsers", "addUserS", "deleteUserS"]),
    clear() {
      this.edit = false;
      this.address = null;
      this.email = null;
      this.name = null;
      this.phone = null;
      this.idU = null;
      this.imageUrl =
        "https://micasaenlomas.com/wp-content/themes/realestate-7/images/no-image.png";
      this.admin = false;
    },
    validate() {
      if (this.$refs.form.validate()) {
        this.addUser();
      }
    },
    onPlaceChanged(value) {
      this.address = value.formatted_address;
    },
    deleteUser() {
      this.$swal
        .fire({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, delete it!",
        })
        .then((result) => {
          if (result.isConfirmed) {
            if (this.user.id == this.idU) {
              this.$swal.fire("Cannot delete current user!", "", "warning");
            } else {
              var post = { id: this.idU };
              axios
                .post(
                  `${process.env.VUE_APP_BASE_URL_API}/api/auth/deleteUser`,
                  post,
                  {
                    headers: {
                      Authorization: `Bearer ${this.token}`,
                      Accept: "application/json",
                    },
                  }
                )
                .then((data) => {
                  this.dialog = false;
                  this.deleteUserS(data.data);
                  this.$swal.fire("User Deleted!", "", "success");
                });
            }
          }
        });
    },
    addUser() {
      var url;
      let formData = new FormData();
      if (this.idU) {
        formData.append("id", this.idU);
        url = `${process.env.VUE_APP_BASE_URL_API}/api/auth/editUser`;
      } else {
        url = `${process.env.VUE_APP_BASE_URL_API}/api/auth/addUser`;
      }
      formData.append("file", this.image);
      this.btnloader = true;
      formData.append("name", this.name);
      formData.append("email", this.email);
      formData.append("phone", this.phone);
      formData.append("address", this.address);
      var level = "client";
      if (this.admin) {
        level = "admin";
        formData.append("password", this.password);
      }
      formData.append("level", level);
      axios
        .post(url, formData, {
          headers: {
            Authorization: `Bearer ${this.token}`,
            "Content-Type": "multipart/form-data",
            "X-Requested-With": "XMLHttpRequest",
            Accept: "application/json",
          },
        })
        .then((data) => {
          this.btnloader = false;
          switch (data.status) {
            case 200:
              this.dialog = false;
              this.image = null,
              this.addUserS(data.data);
              this.$swal.fire("User Added Successfully", "", "success");
              break;
            case 202:
              this.$swal.fire(data.data.errorInfo[2], "", "error");
              break;
            case 201:
              this.dialog = false;
              this.$swal.fire("User Updated Successfully", "", "success");
              this.updateUsers(data.data);
              break;
            default:
              break;
          }
        })
        .catch((error) => {
          this.btnloader = false;
          console.error(error);
        });
    },
    createImage(file) {
      const reader = new FileReader();

      reader.onload = (e) => {
        this.imageUrl = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    onFileChange(file) {
      if (!file) {
        return (this.imageUrl =
          "https://micasaenlomas.com/wp-content/themes/realestate-7/images/no-image.png");
      }
      this.createImage(file);
    },
  },
};
</script>
<style>
.switch-admin {
  margin-top: 0px !important;
  padding-top: 0px !important;
}
</style>
