<template>
  <div class="text-center">
    <v-dialog v-model="dialogB" persistent width="500">
      <v-card>
        <v-card-title class="text-h5 grey lighten-2 header">
          Reserve Room Name
          <v-btn
            style="margin: 0 !important"
            color="error"
            class="mr-4"
            @click="reset"
          >
            X
          </v-btn>
        </v-card-title>

        <v-card-text>
          <v-form ref="form" v-model="valid" lazy-validation>
            <div class="user-combo">
              <v-icon>mdi-account</v-icon>
              <v-select
                v-model="user_id"
                :items="clients"
                :rules="[(v) => !!v || 'User is required']"
                item-text="name"
                :item-value="'id'"
                label="User *"
                required
                class="combo-space"
              ></v-select>
              <div style="width: 12%">
                <NewUser />
              </div>
            </div>

            <v-menu
              ref="menu"
              v-model="menu"
              :close-on-content-click="false"
              :return-value.sync="date"
              transition="scale-transition"
              offset-y
              min-width="auto"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="date"
                  label="Date"
                  prepend-icon="mdi-calendar"
                  readonly
                  required
                  :rules="[(v) => !!v || 'Date is Required!']"
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker v-model="date" no-title scrollable :min="today">
                <v-spacer></v-spacer>
                <v-btn text color="primary" @click="menu = false">
                  Cancel
                </v-btn>
                <v-btn text color="primary" @click="$refs.menu.save(date)">
                  OK
                </v-btn>
              </v-date-picker>
            </v-menu>
            <div class="time">
              <v-menu
                ref="menuF"
                v-model="menu2"
                :close-on-content-click="false"
                :nudge-right="40"
                :return-value.sync="timeFrom"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <div class="time">
                    <v-text-field
                      v-model="timeFrom"
                      label="From"
                      prepend-icon="mdi-clock-time-four-outline"
                      readonly
                      :rules="[(v) => !!v || 'From is Required!']"
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </div>
                </template>
                <v-time-picker
                  v-if="menu2"
                  v-model="timeFrom"
                  :allowed-hours="allowedHours"
                  :min="now()"
                  format="24hr"
                  full-width
                  @click:minute="$refs.menuF.save(timeFrom)"
                ></v-time-picker>
              </v-menu>

              <v-menu
                ref="menuT"
                v-model="menu3"
                :close-on-content-click="false"
                :nudge-right="40"
                :return-value.sync="timeTo"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <div class="time">
                    <v-text-field
                      v-model="timeTo"
                      label="To"
                      prepend-icon="mdi-clock-time-four-outline"
                      readonly
                      :rules="[(v) => !!v || 'To is Required!']"
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </div>
                </template>
                <v-time-picker
                  v-if="menu3"
                  v-model="timeTo"
                  full-width
                  format="24hr"
                  :min="minTime()"
                  :max="twoHours()"
                  @click:minute="$refs.menuT.save(timeTo)"
                ></v-time-picker>
              </v-menu>
            </div>

            <v-textarea
              clearable
              v-model="description"
              clear-icon="mdi-close-circle"
              label="Brief Description of Conference"
              rows="2"
            ></v-textarea>
          </v-form>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="validate"
            :disabled="!valid"
            :loading="loanding"
          >
            Send
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import { mapState, mapMutations } from "vuex";
import moment from "moment";
import NewUser from "@/components/NewUser.vue";
import axios from "axios";
export default {
  data() {
    return {
      today: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
        .toISOString()
        .substr(0, 10),
      date: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
        .toISOString()
        .substr(0, 10),
      menu: false,
      slider: 60,
      timeFrom: null,
      timeTo: null,
      menu2: false,
      menu3: false,
      modal2: false,
      valid: true,
      name: "",
      nameRules: [
        (v) => !!v || "Name is required",
        (v) => (v && v.length <= 10) || "Name must be less than 10 characters",
      ],
      description: "",
      user_id: null,
      items: ["Item 1", "Item 2", "Item 3", "Item 4"],
      checkbox: false,
      room_id: null,
      loanding: false,
    };
  },
  watch: {
    timeFrom() {
      this.timeTo = null;
    },
  },
  methods: {
    ...mapMutations(["setDialogB", "addReservationS"]),
    allowedHours: (v) => v < 22,
    checkDates(start, end, room) {
      var access = true;
      this.reservations.map((res) => {
        if (res.room_id == room) {
          if (res.finished == 0) {
            if (
              moment(start).isSameOrAfter(res.start) &&
              moment(start).isSameOrBefore(res.end)
            ) {
              this.$swal.fire(
                "The Room is reserved at that time",
                `start: ${res.start}, end: ${res.end}`,
                "warning"
              );
              return (access = false);
            }
            if (
              moment(end).isSameOrAfter(res.start) &&
              moment(end).isSameOrBefore(res.end)
            ) {
              this.$swal.fire(
                "The Room is reserved at that time",
                `start: ${res.start}, end: ${res.end}`,
                "warning"
              );
              return (access = false);
            }
          }
        }
      });
      return access;
    },
    addReserve() {
      this.loanding = true;
      var start = moment(this.date + " " + this.timeFrom).format(
        "YYYY-MM-DD HH:mm:ss"
      );
      var end = moment(this.date + " " + this.timeTo).format(
        "YYYY-MM-DD HH:mm:ss"
      );
      var post = {
        room_id: this.room_id,
        user_id: this.user_id,
        start: start,
        end: end,
        description: this.description,
      };
      var check = this.checkDates(start, end, this.room_id);
      console.error(check);
      if (check) {
        axios
          .post(
            `${process.env.VUE_APP_BASE_URL_API}/api/auth/addReservation`,
            post,
            {
              headers: {
                Authorization: `Bearer ${this.token}`,
                Accept: "application/json",
              },
            }
          )
          .then((data) => {
            this.loanding = false;

            switch (data.status) {
              case 200:
                this.reset();
                this.addReservationS(data.data);
                this.$swal.fire(
                  "Reservation Added Successfully",
                  "",
                  "success"
                );
                break;
              case 202:
                this.$swal.fire(data.data.errorInfo[2], "", "error");
                break;
              default:
                break;
            }
          })
          .catch((error) => {
            // handle error
            console.error(error);
          });
      } else {
        this.loanding = false;
      }
    },
    validate() {
      if (this.$refs.form.validate()) {
        //this.setDialogB();
        this.addReserve();
      }
    },
    reset() {
      this.setDialogB();
      this.$refs.form.reset();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    },
    twoHours() {
      var hours = moment(this.date + " " + this.timeFrom).format(
        "YYYY-MM-DD HH:mm:ss"
      );
      return moment(moment(hours).add(2, "h")).format("HH:mm:ss");
    },
    now() {
      var now;
      if (!moment(this.date).isAfter(moment())) {
        now = moment().endOf("hour").format("HH:mm:ss");
      } else {
        now = "00:00:00";
      }
      return now;
    },
    minTime() {
      var hours = moment(this.date + " " + this.timeFrom)
        .add(1, "h")
        .hours();
      var min = moment(this.date + " " + this.timeFrom).minutes();
      return hours + ":" + min;
    },
  },
  components: {
    NewUser,
  },
  computed: {
    ...mapState(["dialogB", "clients", "token", "reservations"]),
  },
};
</script>
<style>
.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-combo {
  display: flex;
  align-items: center;
}
.combo-space {
  margin-left: 7px;
}
.header {
  display: flex;
  justify-content: space-between;
}
</style>
