<template>
  <v-row>
    <Reserve ref="reserve"/>
    <v-col :cols="cols" v-for="(room, i) in rooms" :key="i">
      <v-card class="" style="height: 100%; position: relative">
        <v-img height="150" :src="room.photo">
          <div class="dots">
            <v-menu bottom left offset-y>
              <template v-slot:activator="{ on, attrs }">
                <v-btn dark icon v-bind="attrs" v-on="on">
                  <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
              </template>
              <v-list>
                <v-list-item
                  v-for="(item, i) in items"
                  :key="i"
                  @click="
                    () => {
                      if (item.action == 'delete') {
                        deleteR(room.id);
                      } else {
                        edit(room);
                      }
                    }
                  "
                >
                  <v-list-item-content>
                    <v-list-item-title v-text="item.title"></v-list-item-title>
                  </v-list-item-content>
                  <v-list-item-icon>
                    <v-icon :color="item.color" v-text="item.icon"></v-icon>
                  </v-list-item-icon>
                </v-list-item>
              </v-list>
            </v-menu>
          </div>
        </v-img>

        <v-card-title>{{ room.name }} </v-card-title>

        <v-card-text>
          <div>
            Address: <strong>{{ room.address }}</strong>
          </div>
          <div>
            Building/Floor: <strong>{{ room.floor }}</strong>
          </div>
          <div>
            Size: <strong>{{ room.size }}</strong>
          </div>
          <div>
            Seats: <strong>{{ room.seats }}</strong>
          </div>
        </v-card-text>

        <v-divider class="mx-4"></v-divider>

        <v-card-title>Additional Facilities</v-card-title>

        <v-card-text style="margin-bottom: 25px;">
          <v-chip-group column>
            <v-chip
              v-for="(facility, x) in room.facilities"
              :key="x"
              class="ma-2"
              color="success"
              outlined
            >
              <v-icon left>{{ facility.icon }}</v-icon>
              {{ facility.name }}
            </v-chip>
          </v-chip-group>
        </v-card-text>

        <v-card-actions class="btn-reserve">
          <v-btn color="#081b38" text @click="reserve(room.id)"> Reserve </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>
<script>
import { mapMutations } from "vuex";
import { mapState } from "vuex";
import Reserve from "@/components/Reserve.vue";
import axios from "axios";
export default {
  components: {
    Reserve,
  },
  data: () => ({
    loading: false,
    maintenance: false,
    facilities: [
      {
        icon: "mdi-wifi",
        text: "Wifi",
        color: "success",
      },
      {
        icon: "mdi-air-conditioner",
        text: "AC",
        color: "success",
      },
      {
        icon: "mdi-projector",
        text: "Projector",
        color: "success",
      },
      {
        icon: "mdi-projector-screen-outline",
        text: "White Board",
        color: "success",
      },
      {
        icon: "mdi-power-plug",
        text: "Charging plug point",
        color: "success",
      },
    ],
    items: [
      {
        icon: "mdi-pencil",
        title: "Edit",
        color: "warning",
        action: "edit",
      },
      {
        icon: "mdi-close",
        title: "Delete",
        color: "red",
        action: "delete",
      },
    ],
  }),
  computed: {
    ...mapState(["rooms","token"]),
    cols() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return 12;
        case "sm":
          return 6;
        case "md":
          return 4;
        case "lg":
          return 4;
        case "xl":
          return 3;
        default:
          return 12;
      }
    },
  },
  methods: {
    ...mapMutations(["setDialogR", "setDialogB", "setRoom", "deleteRoom"]),
    deleteR(id) {
        this.$swal
        .fire({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, delete it!",
        })
        .then((result) => {
          if (result.isConfirmed) {
            var post = { id: id };
              axios
                .post(
                  `${process.env.VUE_APP_BASE_URL_API}/api/auth/deleteRoom`,
                  post,
                  {
                    headers: {
                      Authorization: `Bearer ${this.token}`,
                      Accept: "application/json",
                    },
                  }
                )
                .then((data) => {
                  this.deleteRoom(data.data);
                  this.$swal.fire("Room Deleted!", "", "success");
                });
            
          }
        });
    },
    edit(item) {
      this.setRoom(item);
      this.setDialogR();
    },
    reserve(id) {
      
      this.$refs.reserve.room_id = id;
      this.setDialogB();
    },
  },
};
</script>
<style>
.dots {
  display: flex;
  justify-content: flex-end;
}
.btn-reserve {
  justify-content: end;
  position: absolute;
  bottom: 0;
  right: 0;
}
</style>
