<template>
  <v-app id="inspire">
    <div v-if="$route.path !== '/login'">
      <div v-if="!loader">
        <v-sheet class="pa-3">
          <v-skeleton-loader
            class="mx-auto"
            max-width="90%"
            type="card"
          ></v-skeleton-loader>
        </v-sheet>
      </div>
      <div v-else>
        <!-- aside menu -->
        <v-navigation-drawer
          v-model="drawer"
          :clipped="$vuetify.breakpoint.lgAndUp"
          app
        >
          <v-list nav>
            <v-list-item-group v-model="item">
              <v-list-item
                v-for="(item, i) in items"
                :key="i"
                :to="item.href"
                exact
                :disabled="!item.active"
                class="menu"
              >
                <v-list-item-action>
                  <v-icon class="v-icon">{{ item.icon }}</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title>
                    {{ item.text }}
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
          <template v-slot:append>
            <div class="pa-2">
              <v-btn block color="#081b38" class="btn-logout" @click="logout()">
                Logout
              </v-btn>
            </div>
          </template>
        </v-navigation-drawer>
        <!-- end aside menu -->
        <!-- header  -->
        <v-app-bar
          :clipped-left="$vuetify.breakpoint.lgAndUp"
          app
          color="#081b38"
          dark
          height="80px"
        >
          <v-app-bar-nav-icon
            @click.stop="drawer = !drawer"
          ></v-app-bar-nav-icon>
          <v-toolbar-title class="ml-0 pl-4">
            <v-btn text large class="d-none d-sm-flex img">
              <img width="30" alt="Vue logo" src="./assets/logo.png" />
            </v-btn>
          </v-toolbar-title>
          <v-spacer></v-spacer>

          <section id="app" class="section hidden-sm-and-down">
            <p class="time">
              {{ hour }}:{{ minute }}<small>:{{ secons }}</small>
            </p>
          </section>
          <v-spacer></v-spacer>

          <p class="name d-none d-sm-flex">{{user.name}}</p>
          <v-menu offset-y>
            <template v-slot:activator="{ on, attrs }">
              <v-btn icon large class="porfile" v-bind="attrs" v-on="on">
                <v-avatar size="32px" item>
                  <v-img :src="user.photo" alt="Vuetify"></v-img>
                </v-avatar>
              </v-btn>
            </template>
            <v-list
              style="cursor: pointer; font-family: 'Product Sans Regular'"
            >
              <v-list-item>
                <v-list-item-title @click="logout()" >Logout</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </v-app-bar>
        <!-- end header -->
        <!-- content page -->
        <v-main>
          <v-container class="fill-height" fluid>
            <v-row align="center" justify="center">
              <router-view />
            </v-row>
          </v-container>
        </v-main>
        <!--  end content page -->
      </div>
    </div>
    <div v-else>
      <router-view />
    </div>
  </v-app>
</template>

<script>
import moment from "moment";
import axios from "axios";
import { mapMutations } from "vuex";
import { mapState } from "vuex";
export default {
  computed: {
    ...mapState([
      "user",
      "token",
    ]),
  },
  data: () => ({
    currentTime: null,
    btnLoader: false,
    searchh: null,
    hour: null,
    ee: "",
    check: false,
    checkinvar: null,
    checkoutvar: null,
    alert: false,
    minute: null,
    secons: null,
    loader: true,
    idcheck: null,
    drawer: null,
    algolia: [],
    algoliaType: "services",
    loading: false,
    item: 1,
    noty: 0,
    channel: null,
    items: [
      {
        icon: "mdi-home",
        text: "Dashboard",
        href: "/",
        active: true,
        type: "all",
      },
      {
        icon: "mdi-clipboard-text",
        text: "Meeting Room",
        href: "/rooms",
        active: true,
        type: "all",
      },
      {
        icon: "mdi-account-multiple",
        text: "Users",
        href: "/users",
        active: true,
        type: "admin",
      },
    ],
  }),
  methods: {
    ...mapMutations(["resetState", "finish"]),
    logout() {
      axios
        .get(`${process.env.VUE_APP_BASE_URL_API}/api/auth/logout`, {
          headers: {
            Authorization: `Bearer ${this.token}`,
            Accept: "application/json",
          },
        })
        .then((reponse) => {
          if (reponse.data.action) {
            localStorage.removeItem("user-token");
            localStorage.removeItem("user");
            this.resetState();
            this.$router.push("/login");
          }
        });
    },
    updateCurrentTime() {
      this.currentTime = moment().format("LTS");
    },
  },
  created() {
    this.currentTime = moment().format("LTS");
    setInterval(() => this.updateCurrentTime(), 1 * 1000);
  },
  watch: {
    currentTime() {
      let time = this.currentTime.split(":");
      (this.hour = time[0]), (this.minute = time[1]), (this.secons = time[2]);
      if (this.secons  == '00 AM' || this.secons  == '00 PM') {
        this.finish()
      }
    },
  },
};
</script>
<style>
.name {
  margin-bottom: 0px !important;
}
.time {
  margin-bottom: 0px !important;
}
.btn-logout{
  color: white!important;
}
</style>
