<template>
  <div class="dashbord" justify="center">
    <v-row>
      <Carts />
      <v-col class="calendar">
        <Calendar />
      </v-col>
    </v-row>
  </div>
</template>

<script>
// @ is an alias to /src
import Carts from "@/components/Carts.vue";
import Calendar from "@/components/Calendar.vue";
import axios from "axios";
import { mapMutations } from "vuex";
import { mapState } from "vuex";

export default {
  name: "Dashboard",
  computed: {
    ...mapState([
      "token",
    ]),
  },
  components: {
    Carts,
    Calendar,
  },
  mounted() {
    this.getReserva()
    
  },
  methods: {
    ...mapMutations(["setUsers","setFacilities","setRooms", "setReservations"]),
    getReserva() {
      axios
        .get(`${process.env.VUE_APP_BASE_URL_API}/api/auth/reservations`, {
          headers: {
            Authorization: `Bearer ${this.token}`,
            Accept: "application/json",
          },
        })
        .then((res) => {
          this.setReservations(res.data);
          this.getRooms()
        })
        .catch((error) => {
          // handle error
          console.error(error);
        });
    },
    getRooms() {
      axios
        .get(`${process.env.VUE_APP_BASE_URL_API}/api/auth/rooms`, {
          headers: {
            Authorization: `Bearer ${this.token}`,
            Accept: "application/json",
          },
        })
        .then((res) => {
          this.setRooms(res.data);
          this.getUsers()
        })
        .catch((error) => {
          // handle error
          console.error(error);
        });
    },
    getUsers() {
      axios
        .get(`${process.env.VUE_APP_BASE_URL_API}/api/auth/users`, {
          headers: {
            Authorization: `Bearer ${this.token}`,
            Accept: "application/json",
          },
        })
        .then((res) => {
          this.setUsers(res.data);
          this.getFacilities()
        })
        .catch((error) => {
          // handle error
          console.error(error);
        });
    },
    getFacilities() {
      axios
        .get(`${process.env.VUE_APP_BASE_URL_API}/api/auth/facilities`, {
          headers: {
            Authorization: `Bearer ${this.token}`,
            Accept: "application/json",
          },
        })
        .then((res) => {
          this.setFacilities(res.data);
        })
        .catch((error) => {
          // handle error
          console.error(error);
        });
    },
  },
};
</script>
<style>
.dashbord {
  width: 100%;
  padding: 20px;
}
@media only screen and (max-width: 768px) and (min-width: 425px) {
  .calendar {
    width: 60%;
  }
}
@media only screen and (max-width: 425px) {
  .calendar {
    width: 100%;
  }
}
</style>
