<template>
  <div class="login">
    <v-main>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4" align="center" justify="center">
            <v-img width="30%" src="../assets/logo.png"></v-img>
          </v-col>
        </v-row>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="6" md="4" lg="3" align="center" justify="center">
            <v-card class="elevation-12">
              <v-toolbar color="#35495e" dark flat>
                <v-toolbar-title class="text-login"
                  >Welcome back!</v-toolbar-title
                >
              </v-toolbar>
              <v-card-text>
                <v-expand-transition>
                  <v-alert type="error" v-if="errorMessage">
                    {{ errorMessage }}
                  </v-alert>
                </v-expand-transition>
                <v-form ref="form" v-model="valid" lazy-validation>
                  <v-text-field
                    required
                    v-model="email"
                    label="Email"
                    name="email"
                    :rules="emailRules"
                    prepend-icon="mdi-account"
                    type="text"
                  ></v-text-field>

                  <v-text-field
                    id="password"
                    label="Password"
                    name="password"
                    prepend-icon="mdi-lock"
                    v-model="password"
                    :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="passRules"
                    :type="show ? 'text' : 'password'"
                    counter
                    @click:append="show = !show"
                    @keypress.enter="submit()"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions class="login">
                <v-btn
                  color="#35495e"
                  class="login-btn"
                  block
                  :loading="loading"
                  :disabled="loading"
                  @click="submit()"
                  >Login</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </div>
</template>
<script>
import { mapMutations } from "vuex";
import axios from "axios";
export default {
  data: () => ({
    show: false,
    valid: true,
    password: null,
    email: null,
    loading: false,
    errorMessage: null,
    active: false,
    passRules: [
      (v) => !!v || "Enter password....",
      (v) => (v && v.length >= 6) || "Password must be more than 6 characters",
    ],
    emailRules: [
      (v) => !!v || "Enter E-mail....",
      (v) => /.+@.+\..+/.test(v) || "Invalid E-mail",
    ],
  }),
  methods: {
    ...mapMutations(["setToken"]),
    submit() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        axios
            .post(`${process.env.VUE_APP_BASE_URL_API}/api/auth/login`, {
              email: this.email,
              pass: this.password,
            })
            .then((res) => {
              if (res.data.success) {
                localStorage.setItem(
                  "user-token",
                  res.data.data.token.access_token
                );
                localStorage.setItem(
                  "user",
                  JSON.stringify(res.data.data.user)
                );
                this.setToken({
                  token: res.data.data.token.access_token,
                  user: res.data.data.user,
                });
                this.$router.push('/')
              } else {
                // Mensaje de Error
                this.errorMessage = res.data.message,
                console.error("error");
              }
              this.loading = false;
            }).catch(() => {
              // handle error
              this.loading = false
              this.errorMessage = 'Error Al iniciar sesion'
            });
      }
    },
  },
};
</script>
<style>
.login {
  justify-content: center;
  padding-bottom: 20px;
}
.text-login {
  text-align: center;
  width: 100%;
}
.login-btn {
  color: white !important;
  padding: 20px !important;
}
</style>
