<template>
  <v-container class="room" justify="center">
    <h2>Conference Rooms</h2>
    <div v-if="rooms.length > 0">
      <Room />
    </div>
    <div v-else>
      <v-row>
        <v-col cols="12">
          <p>No Records</p>
        </v-col>
      </v-row>
    </div>
    <NewRoom />
  </v-container>
</template>
<script>
import Room from "@/components/Room.vue";
import NewRoom from "@/components/NewRoom.vue";
import { mapState } from "vuex";
export default {
  computed: {
    ...mapState(["rooms"]),
  },
  data() {
    return {};
  },
  components: {
    Room,
    NewRoom,
  },
};
</script>
<style>
.room {
  padding: 20px;
}
</style>
