<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" class="tittle-Table">
        <h2>Current Users</h2>
      </v-col>
      <v-col class="table-style">
        <v-card>
          <v-skeleton-loader
            v-if="loader"
            type="table-heading, list-item-two-line, image, table-tfoot"
          ></v-skeleton-loader>
          <v-data-table
            v-else
            :headers="headers"
            :items="users"
            :search="search"
            :page.sync="page"
            :items-per-page="itemsPerPage"
            class="elevation-7"
            width="100%"
          >
            <template v-slot:item="{ item }">
              <tr class="pointeTable">
                <td @click="edirUser(item)">
                  {{ item.id }}
                </td>
                <td @click="edirUser(item)">
                  <v-avatar size="26px">
                    <img :src="item.photo" :alt="item.name"
                  /></v-avatar>
                </td>
                <td @click="edirUser(item)">
                  {{ item.name }}
                </td>
                <td @click="edirUser(item)">
                  {{ item.email }}
                </td>
                <td>
                  <a :href="'tel:+' + item.phone" class="tel"
                    ><v-icon class="ikon">mdi-phone</v-icon>{{ item.phone }}</a
                  >
                </td>
                <td @click="edirUser(item)">
                  {{ item.level }}
                </td>
              </tr>
            </template>
          </v-data-table>
        </v-card>
      </v-col>
    </v-row>
    <NewUser ref="newUser" />
  </v-container>
</template>
<script>
import NewUser from "@/components/NewUser.vue";
import { mapState } from "vuex";
export default {
  computed: {
    ...mapState(["users"]),
  },
  data: () => ({
    headers: [
      { text: "id", align: "start", value: "id" },
      { text: "Avatar", sortable: false },
      { text: "Name", value: "name" },
      { text: "Email", value: "email" },
      { text: "Phone", value: "phone" },
      { text: "Type", value: "type" },
    ],
    search: '',
    apikey: `${process.env.VUE_APP_API_KEY_MAPS}`,
    loader: false,
    page:1,
    itemsPerPage:25,
  }),
  components: {
    NewUser,
  },
  methods: {
    edirUser(user) {
      this.$refs.newUser.dialog = true;
      this.$refs.newUser.edit = true;
      this.$refs.newUser.idU = user.id;
      this.$refs.newUser.address = user.address;
      this.$refs.newUser.email = user.email;
      this.$refs.newUser.name = user.name;
      this.$refs.newUser.phone = user.phone;
      this.$refs.newUser.imageUrl = user.photo;
      if (user.level == "admin") {
        this.$refs.newUser.admin = true;
      }
    },
  },
};
</script>

<style>
.div-email {
  display: flex;
  align-items: center;
}
.v-btn-toggle:not(.v-btn-toggle--dense) .v-btn.v-btn.v-size--default {
  height: 30px;
  min-height: 0;
  margin: 5px;
  min-width: 32px;
  border: azure;
  border-radius: 9px;
}
.v-btn-toggle > .v-btn.v-btn--active {
  color: #003790 !important;
}
.v-btn:not(.v-btn--round).v-size--default {
  height: 36px;
  min-width: 36px;
  padding: 0px 3px;
}
.user-btn-close {
  right: 0px;
  position: absolute;
  top: 0;
}
.tittle-Table {
  background-color: #081b38;
  color: white;
  margin: 0px;
  border-radius: 15px 15px 0px 0px;
}
.table-style {
  padding: 0px;
}
.add-proyect {
  bottom: 6% !important;
  right: 4% !important;
  position: fixed;
}
.card-user {
  width: 70%;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.tel {
  text-decoration-line: none;
  color: black !important;
}
.ikon {
  font-size: 15px;
  color: #081b38;
}
.pointeTable {
  cursor: pointer;
}
</style>
